.am-cf:after,
.am-cf:before {
  content: " ";
  display: table;
}

.am-cf {
  &:after {
    clear: both;
  }
}

.am-fl {
  float: left;
}

.am-fr {
  float: right;
}

.am-block {
  display: block;
}

.am-inline {
  display: inline;
}

.am-inline-block {
  display: inline-block;
}

.am-align-center {
  /*文本居中*/
  text-align: center;
}

// 宽度100%
.am-w-100 {
  width: 100%;
}

// 宽高100%
.am-wh-100 {
  width: 100%;
  height: 100%;
}

/** 超出省略号 **/
.am-text-eill {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/** 文本换行 **/
.am-text-break {
  white-space: normal;
  word-break: break-all;
}

.am-flex-rc-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.am-flex-rc-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.am-flex-rc-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.am-flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.am-flex-row-center {
  display: flex;
  align-items: center;
}

.am-line-clamp-two {
  
}

